<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registros de {{ nombre_tabla }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Registros de la tabla: {{ nombre_tabla }}</h1>
    
    <table border="1" style="margin: auto; border-collapse: collapse; width: 80%;">
        <thead>
            <tr>
                {% for column_name in column_names %}
                    <th>{{ column_name }}</th> <!-- Aquí se están utilizando los nombres de las columnas -->
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for registro in registros %}
            <tr>
                {% for campo in registro %}
                    <td>{{ campo }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <br>
    
</body>
</html>
